@font-face {
  font-family: "Hanken Grotesk";
  font-weight: 400;
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --light-red: hsla(0, 100%, 67%, 1);
  --orangey-yellow: hsla(39, 100%, 56%, 1);
  --green-teal: hsla(166, 100%, 37%, 1);
  --cobalt-blue: hsla(234, 85%, 45%, 1);
  --light-slate-blue: hsl(252, 100%, 67%); /* background */
  --light-royal-blue: hsl(241, 81%, 54%); /* background */
  --violet-blue: hsla(256, 72%, 46%, 1); /* circle */
  --persian-blue: hsla(241, 72%, 46%, 0); /* circle */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsla(241, 100%, 89%, 1);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --dark-navy: hsla(223, 30%, 27%, 0.5);
  --dark-navy-100: hsla(223, 30%, 27%, 1);
  --dark-gray-blue-100: hsla(224, 30%, 27%, 0.2);
  --box-shadow-color: hsla(224, 82%, 58%, 0.15);
  --fw-black: hsla(0, 0%, 0%, 0.7);
  --base-font-size: 18px;
  --accent-1: hsla(0, 100%, 67%, 0.1);
  --accent-2: hsla(39, 100%, 56%, 0.1);
  --accent-3: hsla(166, 100%, 37%, 0.1);
  --accent-4: hsla(234, 85%, 45%, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
  background-color: var(--white);
  font-family: "Hanken Grotesk", sans-serif;
}
.container {
  --padding: 2.5rem;
  --border-radius: 2rem;
}
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-lavender);
  background-image: linear-gradient(
    0deg,
    var(--light-royal-blue),
    var(--light-slate-blue)
  );
  border-radius: 0px 0px var(--border-radius) var(--border-radius);
}
.result .circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: linear-gradient(
    0deg,
    var(--persian-blue),
    var(--violet-blue)
  );
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}
.result .circle h1 {
  font-size: 4rem;
  font-weight: 800;
}
.result .circle small {
  color: var(--light-lavender);
  display: block;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
}

.result .title {
  color: var(--light-lavender);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1.3rem;
}
.result p {
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 500;
  padding: 0px 2.7rem 0px 2rem;
}
.summary {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.summary h3 {
  font-weight: 700;
  font-size: 0.9rem;
  margin: 1rem;
}
.summary-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.7rem;
  margin: 1rem 0px;
}
.summary-list .category {
  display: flex;
}
.reaction {
  color: var(--light-red);
  background-color: var(--accent-1);
}

.memory {
  color: var(--orangey-yellow);
  background-color: var(--accent-2);
}
.verbal {
  color: var(--green-teal);
  background-color: var(--accent-3);
}
.visual {
  color: var(--cobalt-blue);
  background-color: var(--accent-4);
}
.score {
  color: var(--dark-navy);
  font-weight: 700;
  font-size: 0.9rem;
}
.bold-score {
  color: var(--dark-navy-100);
}

.button {
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  height: 3rem;
  margin-top: 1.5rem;
  border-radius: 7rem;
  background-color: var(--dark-gray-blue);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  line-height: 1;
}
.button:hover {
  background: linear-gradient(
    0deg,
    var(--light-royal-blue),
    var(--light-slate-blue)
  );
}
/* Media Query for screen sizes 600px and above */
@media only screen and (min-width: 600px) {
  body {
    background-color: var(--pale-blue);
  }
  .container {
    display: flex;
    box-shadow: 0.5rem 1rem 3rem var(--box-shadow-color);
    border-radius: var(--border-radius);
    margin: 1rem;
  }

  .result {
    display: flex;
    justify-content: space-between;
    flex: 1;
    border-radius: var(--border-radius);
    padding: var(--padding);
  }
  .result .title {
    font-size: 1.3rem;
  }
  .result .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .result p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px 1rem 0px 0px;
  }
  .summary {
    flex: 1;
    padding: var(--padding);
  }
  .summary h3 {
    font-size: 1.3rem;
  }
  .summary .score {
    font-size: 1.3rem;
  }
  .summary-list {
    margin: 1rem 0px;
  }
}

.attribution {
  font-size: 0.6rem;
  text-align: center;
  margin-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
